@use "./sass/colors" as colors;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Mulish', sans-serif;
  overflow-x: hidden;
  background-color: colors.$primary-black;
  color: colors.$color-grey-2;
  letter-spacing: .75px;
}

ul li,
ol li {
  list-style-type: none;
}

a,
button {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}